myvenv/
models/sam_weights.pth
segment-anything/
images/
code_Insta/model_train/sentiement_analysis/results/best_model_RandomForestClassifier_CountVectorizer.pkl
code_Insta/model_train/YOLO/weights/best.pt
code_Insta/model_train/YOLO/weights/last.pt
code_Insta/temp/fashion_progress.pkl
code_Insta/models/sam_weights.pth


__pycache__/
*.pyc

.env

*.h5
*.pt
*.pkl

*.csv
*.json
*.xlsx
*.pkl

.ipynb_checkpoints/
